{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm p-4">
      <h4 class="text-center mb-3">Reset Password</h4>
      <form method="POST">
        <input type="text" name="matric_no" class="form-control mb-3" placeholder="Matric No" required>
        <input type="email" name="email" class="form-control mb-3" placeholder="Registered Email" required>
        <button class="btn btn-warning w-100">Verify</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
